/*Font*/
@font-face{
  font-family:Batch;
  src:url('../fonts/batch-icons-webfont.eot');
  src:url('../fonts/batch-icons-webfont?#iefix') format('embedded-opentype'),
    url('../fonts/batch-icons-webfont.woff') format('woff'),
    url('../fonts/batch-icons-webfont.ttf') format('truetype'),
    url('../fonts/batch-icons-webfont.svg#batchregular') format('svg');
  font-weight:normal;
  font-style:normal;
}
.batch {
  font-family:"Batch"; /*or whatever you've decalred your font name as*/
  font-size:18px;
  line-height:1;
  display:inline-block;
}
.batch:before {
  content:attr(data-icon);
}

html{
  min-width: 800px;
}
/* Reset CSS */
body, h1, h2, ul {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
}

/* style */
html{
  background: #F5F5F5;
}
#wrapper {
  border: solid #F5F5F5;
}

#header{
  background: #355C7D;
  color: #fff;
  padding: 1em 3em;
}
p.macaddress{
	font-size: 18px;
	color: #E8EAF6;
  margin-top: 8px;
}
select.custom{
  border-width:2px;
  border-color:#888;
}
select.lang{
  border-width:2px;
  border-color:#888;
  background:white;
  margin-left:16px;
}
input.custom{
  border-width:2px;
  border-color:#888;
}
h2{
  color:#424242;
  padding:4px 12px 16px 12px;
}
h4{
  color:#616161;
}
h5{
  color:#616161;
}
#nav {
	background: #F5F5F5;
  padding-top:16px;
  padding-left:16px;
}

#main {
  padding: 32px 64px;
  background: #F5F5F5;
}

button.primary{
  background: #2f77d1;
  color:#FFF;
  border-radius: 2px;
}

button.primary:hover{
  background: #448AFF;
  color:#FFF;
}
button.feedback{
  background: #4CAF50;
  color:#FFF;
  border-radius: 2px;
}

button.feedback:hover{
  background: #81C784;
  color:#FFF;
}

button.secondary{
  background: transparent;
  color:#212121;
  border-style:solid;
  border-width: thin;
  border-color: #BDBDBD;
  border-radius: 2px;
}

button.secondary:hover{
  background: transparent;
  color:#212121;
  border-style:solid;
  border-width: thin;
  border-color: #212121;
}

.configcontainer{
  background:#CFD8DC;
  padding:16px;
  margin-top:16px;
  margin-bottom:16px;
  border-radius: 4px;
}

/* display: block; */
h1:before {
	content: "";
}

@media screen and (min-width: 641px){
	h1:before {
		color:#FFF;
	}
	p.macaddress:before{
		content: "MAC "
	}

	#contentsInner {
		display: table;
		width: 100%;
	}
	#nav {
		display: table-cell;
		width: 250px;
		vertical-align: top;
	}
	#main {
		display: table-cell;
	}
	#main:after {
		color: #f00;
	}
}

@media screen and (min-width: 121px) and (max-width: 640px) {
	h1:before {
		font-size: 16px;
		color:#FFF;
	}

	#contentsInner {
		display: table;
		width: 100%;
	}
	#nav {
		display: table-footer-group;
	}
	#main {
		display: table-header-group;
	}
	#main:after {
		color: #f00;
	}
}
.menu {
   margin: 0;
   padding: 0;
}
.menu li {
   list-style: none;
   font-weight:bold;
   width: 16em;
}
.menu li a {
   display: table;
   margin-top: 1px;
   padding: 16px 10px;
   width: 100%;
   background: transparent;
   text-decoration: none;
   text-align: left;
   font-weight: bold;
   font-size: 1.2em;
   color:#616161;
   overflow: hidden;
   cursor:default;
}
.menu li a.no_children{
  cursor:pointer;
}
.menu li ul {
   margin: 0;
   padding-left: 2em;
}
.menu li li a {
   display: block;
   margin-top: 0;
   padding: 0 10px;
   height: 0;
   background: transparent;
   color: #757575;
   font-size: 1.0em;
   cursor:pointer;
}
.menu li.current li a.selected {
  background: #888;
  color: #FFFFFF;
  text-decoration: none;
}
.menu li li a:hover {
   background: #A0A0A0;
   color: #FFFFFF;
   text-decoration: underline;
}
.menu li a.no_children:hover{
  text-decoration: underline;
  color:#607D8B;
}
.menu > li:hover li a {
   display: table;
   margin-top: 1px;
   padding: 10px 10px;
   width: 100%;
}
.menu li.current li a {
   display: table;
   margin-top: 1px;
   padding: 10px 10px;
   width: 100%;
}
.menu * {
   -moz-transition: .2s;
   -webkit-transition: .2s;
   -o-transition: .2s;
   -ms-transition: .2s;
   transition: .2s;
}
